body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.header:after {
    content: '';
    display: block;
    clear: both;
}

.header a {
    color: inherit;
}

.picture {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.nav {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.nav li {
    padding: 12px 16px;
    display: inline-block;
}

.nav.author {
    float: right;
}