body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: url("/images/main-bg.jpg") center no-repeat;
    background-size: cover;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.main:after {
    display: block;
    content: '';
    clear: both;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: solid 1px #d9d9d9;
    text-align: center;
}

.nav li {
    padding: 12px 16px;
    color: #fff;
    display: inline-block;
    width: 160px;
}

.nav li > a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.nav li > a:hover {
    color: #77e960;
}

.content {
    padding-top: 50px;
    text-align: center;
}

.content img {
    max-height: 720px;
}