<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心有猛虎，细嗅蔷薇 - 每日一图</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
    <link rel="stylesheet" href="/css/daily-picture.css">
</head>
<body>
<header class="header">
    <ul class="nav">
        <li><a href="/" style="text-decoration: none">首页</a></li>
    </ul>
    <ul class="nav author">
        <li><a target="_blank" href="<%= image %>">原图</a></li>
        <li>描述/作者:<a target="_blank" href="<%= copyright.link %>"> <%= copyright.text %></a></li>
    </ul>
</header>
<div class="picture" style="background-image: url(<%= image %>)"></div>
</body>
</html>