<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心有猛虎，细嗅蔷薇</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="bookmark" href="/favicon.ico">
</head>
<body>
<div class="main">
    <ul class="nav">
        <li>
            <a href="https://blog.zhyui.com">博客</a>
        </li>
        <li>
            <a href="/daily-picture">每日一图</a>
        </li>
    </ul>
    <div class="content">
        <img src="<%= image %>" />
    </div>
</div>
</body>
</html>